body{
  margin: 0;
  padding: 0;
  background-color: #2A2643;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
*{
  box-sizing: border-box;
}
.container{
  position: relative;
  width: 90%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
}
.top{
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.search-wrap, .filter-wrap{
  position: relative;
  width: calc(50% - 20px);
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 16px 16px 16px 20px;
}
.search-wrap{
  background-color: #423E5E;
  border-radius: 100px;
}
.filter-wrap{
  border: solid 1px #423E5E;
  border-radius: 100px;
  cursor: pointer;
  display: none;
}
.icon{
  position: relative;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("img/search-icon.svg");
}
.search-wrap .icon{
  background-image: url("img/search-icon.svg");
}
.filter-wrap .icon{
  background-image: url("img/drop-icon.svg");
}
input, .top p{
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  background: transparent;
  outline: 0;
  border: 0;
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 12px;
  text-align: left;
}
input::placeholder, .top p span{
  color: #D6CDED;
  opacity: .65;
}
.table{
  position: relative;
  width: 100%;
  height: auto;
  border: solid 1px #423E5E;
  background-color: #34304F;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.row{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  padding: 16px 0px;
  border-bottom: solid 1px rgba(214,205,237,.2);
}
.row.header{
  background-color: #b7abd12b;
  font-weight: 400;
  font-size: 1.1em;
}
.row:last-child, .row:first-child{
  border: none;
}
.column{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header .column{
  white-space: normal;
  text-overflow: inherit;
}
.column.small{
  flex: .5;
}
.column:not(.small) p:first-child{display: none;}
p{
  font-size: 1em;
  text-align: center;
  line-height: 1.2em;
  padding: 0 10px;
  margin: 0;
}
@media (max-width:1080px){
  .filter-wrap{
    display: flex;
  }
  .table{
    border: none;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }
  .row.header{
    display: none;
  }
  .row{
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(50% - 22px);
    height: auto;
    padding: 0;
    border: solid 1px #423E5E;
    background-color: #34304F;
    border-radius: 12px;
    margin: 0 40px 40px 0;
  }
  .row:nth-child(2n+1){
    margin: 0 0 40px 0;
  }
  .column{
    width: 100%;
    padding: 16px 0px;
    border-bottom: solid 1px rgba(214,205,237,.2);
    justify-content: space-between;
  }
  .column.small{
    justify-content: center;
  }
  .column:first-child{
    background-color: #b7abd12b;
    font-weight: 400;
    font-size: 1.4em;
  }
  .column:last-child{
   border: none;
  }
  .column:not(.small) p:first-child{display: inline-block;}
}
@media (max-width: 830px){
  .top{
    flex-direction: column;
  }
  .search-wrap, .filter-wrap{
    width: 100%;
  }
  .search-wrap{
    margin-bottom: 30px;
  }
  .row{
    width: 100%;
    margin: 0 0 40px 0;
  }
}
